<h1>A NodeJS View</h1>
{{ message }} <!-- Handlebars template engine -->

<form action="/message" method="post">
    <input type="text" name="message" id="message">
    <button type="submit">Submit this message!</button>
</form>